# Druid connection pool - template config
driverClassName=com.mysql.cj.jdbc.Driver
url=jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:test01}?useSSL=false&serverTimezone=UTC&characterEncoding=utf8&allowPublicKeyRetrieval=true
username=${DB_USER:root}
password=${DB_PASSWORD}

# pool size
initialSize=5
minIdle=5
maxActive=20
maxWait=6000

# validation
validationQuery=SELECT 1
testWhileIdle=true
testOnBorrow=false
testOnReturn=false